In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.patches
import pandas as pd
import os

In [2]:
# set working directory
root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Data prep

In [47]:
#load preprocessed data
df = pd.read_csv(os.path.join(root, "data\\processed\\people-carousel-data.csv"))

In [49]:
data = df
data = data[["name", "gender", "eye_color", "height", "mass", "planet name", "no_films", 'episode 1',
       'episode 2', 'episode 3', 'episode 4', 'episode 5', 'episode 6']]

In [30]:
#create dummy variables for appearances
episodes = ['episode 1', 'episode 2', 'episode 3', 'episode 4', 'episode 5', 'episode 6']
data[episodes] = data[episodes].fillna(0)
for episode in episodes:
    data[episode] = [1 if x!=0 else 0 for x in data[episode]]

In [35]:
#select 15 characters
data = data[data["name"].isin(['C-3PO', 'R2-D2', 'Obi-Wan Kenobi', 'Yoda',  'Palpatine', 'Luke Skywalker', 
                               'Darth Vader', 'Leia Organa', 'Chewbacca', 'Anakin Skywalker', 
                               'Jabba Desilijic Tiure','Padmé Amidala','Mace Windu','Boba Fett','Han Solo'])]

data = data.reset_index(drop=True)

In [39]:
data

,name,gender,eye_color,height,mass,planet name,no_films,episode 1,episode 2,episode 3,episode 4,episode 5,episode 6
0,C-3PO,NaN,yellow,167,75,Tatooine,6,1,1,1,1,1,1
1,R2-D2,NaN,red,96,32,Naboo,6,1,1,1,1,1,1
2,Obi-Wan Kenobi,male,blue-gray,182,77,Stewjon,6,1,1,1,1,1,1
3,Yoda,male,brown,66,17,unknown,5,1,1,1,0,1,1
4,Palpatine,male,yellow,170,75,Naboo,5,1,1,1,0,1,1
5,Luke Skywalker,male,blue,172,77,Tatooine,4,0,0,1,1,1,1
6,Darth Vader,male,yellow,202,136,Tatooine,4,0,0,1,1,1,1
7,Leia Organa,female,brown,150,49,Alderaan,4,0,0,1,1,1,1
8,Chewbacca,male,blue,228,112,Kashyyyk,4,0,0,1,1,1,1
9,Anakin Skywalker,male,blue,188,84,Tatooine,3,1,1,1,0,0,0
10,Jabba Desilijic Tiure,hermaphrodite,orange,175,"1,358",Nal Hutta,3,1,0,0,1,0,1
11,Padmé Amidala,female,brown,185,45,Naboo,3,1,1,1,0,0,0
12,Mace Windu,male,brown,188,84,Haruun Kal,3,1,1,1,0,0,0
13,Boba Fett,male,brown,183,78.2,Kamino,3,0,1,0,0,1,1
14,Han Solo,male,brown,180,80,Corellia,3,0,0,0,1,1,1

## Create table